body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

/* Common */
.container {
  width: 350px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #0d47a1;
}

.danger {
  background: #d32f2f;
}

/* Exam Page */
.exam-container {
  width: 700px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.exam-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  font-weight: bold;
  color: red;
}

.question-box {
  margin-top: 20px;
}

.question {
  font-weight: bold;
  margin-bottom: 15px;
}

.option {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
}

.option:hover {
  background: #e3f2fd;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.section-btn {
  margin-top: 20px;
}

/* Result */
.result-card {
  background: #e3f2fd;
  padding: 20px;
  border-radius: 6px;
}
